<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Informational Site - Authors</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/authors.css">
    <link rel="shortcut icon" href="/images/favicon.svg" type="svg/xml">
    <script type="module" src="/js/authors.js" defer></script>
</head>
<body>
    <%- include("components/navbar", { activeTab: "Authors" }) %>
    <div class="content background">
        <h1 class="page-title">
            <span class="hidden-text">Authors</span>
            <span class="visible-text"></span>
        </h1>
        <a class="button-link" href="/authors/new">Add a New Author</a>
        <form class="search-form" action="/authors/search" method="GET">
            <input class="textbox" name="name" id="name" type="search">
            <button class="button button-primary" type="submit">Search</button>
        </form>
        <% if (allAuthors !== null) {%>
            <% if (keyword === "") { %>
                <p class="results-title">Showing All Authors</p>
            <% } else { %>
                <p class="results-title">Showing <%= allAuthors.length %> results for "<%= keyword %>"</p>
            <% } %>
            <ul class="entry-list hidden-list">
                <% allAuthors.forEach(author => { %>
                    
                    <li>
                        <a class="entry-link" href="/authors/<%=author.id%>"><%= author.name %></a>
                    </li>
                <% }) %>
            </ul>
            <ul class="entry-list visible-list">
                <% allAuthors.forEach(author => { %>
                    
                    <li class="entry-list-item">
                        <a class="entry-link" href="/authors/<%=author.id%>"><%= author.name %></a>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </div>
    <%- include("components/footer", {}) %>
</body>
</html>